/*
Theme Name: flatsome-child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/


@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/
	
}

div#row-1995872802 {
    margin: 0px !important;
}
#row-1995872802 {
    margin: 0 !important;
}
.row.large-columns-4.medium-columns-3.small-columns-1.row-full-width {
    margin: 0 !important;
}
.row.row-full-width {
    margin: 0 !important;
}

.flickity-slider .section-content {
    margin: 0px 15px;
}
#row-1947740245 > .col > .col-inner{
	padding: 0px !important
}
#content .row-full-width .medium-12,#content .row-full-width .medium-12 .col-inner {
/*     padding: 5px !important ; */
/*     margin: 5px !important; */
}
.row.row-collapse.align-middle.align-center.row-solid.contact001 > .col-inner.text-center {
    padding: 0 !important;
}
.classhome .col-inner.text-center .text {
    margin: 0px -50px;
}
.col-hover-fade .col-inner{
	opacity: 1 !important
}
select#citylocation {
    font-family: 'Montserrat-Regular';
}
