.stm_lms_out_of_stock{display:block;text-align:left;position:relative;padding:11px 10px 11px 55px;margin-bottom:23px;background:#f0f4fa;border-radius:10px;font-size:14px;line-height:1.3;font-weight:500}.stm_lms_out_of_stock i{position:absolute;left:15px;top:16px;font-size:25px;color:#833ae0}