				@font-face {
					font-family: 'montserrat-regular';
					src: url('/wp-content/uploads/useanyfont/9199Montserrat-Regular.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/9199Montserrat-Regular.woff') format('woff');
				}

				.montserrat-regular{font-family: 'montserrat-regular' !important;}

				.et_gf_montserrat-regular{background:none !important;font-family:montserrat-regular;text-indent:0 !important;font-size:25px;}

		