				@font-face {
					font-family: 'montserrat-regular';
					src: url('/wp-content/uploads/useanyfont/9199Montserrat-Regular.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/9199Montserrat-Regular.woff') format('woff');
					font-display: auto;
				}

				.montserrat-regular{font-family: 'montserrat-regular' !important;}

		